.vs/*
armadillo/*
build/*
book/build/*
docs/site/*
*~
*.xml
.idea/
cmake-build-debug/*
cmake-build-release/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.zip
*.tar
*.xz
.qmake.stash
*.a332f88
CMakeLists.txt.user
*.user
*.user
*.123a86d
*.user
*.user
*.user
*.user
*.user
CMakeLists.txt.user
*.user

bin/Debug/*
bin/*
bin/release/*
build-debug/*
build-release/*
build/*

/vcpkg_installed
/docs/build
/.vscode
/ch_qt/.vscode
